.wrapper

  = render 'devise/shared/side_bar'

  .chat-main
    
    = render @group

    .messages

      = render @messages

    .form
      = form_for [@group, @message], html: {class: "new_message"} do |f|
        .input-box
          = f.text_field :content, class: "input-box__text", placeholder: "Type a message"
          %label(class="input-box__image" for="image_file")
            = fa_icon 'image'
            = f.file_field :image, id: "image_file", class: "input-box__image__file"
        = f.submit "Send", class: "submit-btn"