.wrapper

  = render 'layouts/message'

  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group
          AA
        %ul.main-header__left-box__member-list
          Member:
          %li.main-header__left-box__member-list__member
            SS
      = link_to 'fdfd' do
        .main-header__edit-btn
          Edit
    .messages
      .message
        .message__upper-info
          %p.message__upper-info__talker
            aaa
          %p.message__upper-info__date
            bbb
        %p.message__text
          hii
      .message
        .message__upper-info
          %p.message__upper-info__talker
            aaa
          %p.message__upper-info__date
            bbb
        %p.message__text
          hii
    .form
      = form_for "", html: {class: "new_message"} do |f|
        .input-box
          = f.text_field :text, class: "input-box__text", placeholder: "Type a message"
          %label(class="input-box__image" for="image_file")
            = fa_icon 'image'
            = f.file_field :image, id: "image_file", class: "input-box__image__file"
        = f.submit "Send", class: "submit-btn"
        
//  .form
//    %form.new_message{:name => 'utf8', :action => "/", :method => "post", :enctype => 'multipart/form-data'}
//      %input{:name => 'utf8', :type => 'hidden', :value => '☑️',}
//      %input{:name => 'authenticity-token', :type => 'hidden', :value => '〓',}
//      .input-box
//        %input.input-box__text{:placeholder => 'type a message', :type => 'text', :name => 'message[content]'}
//        %label.input-box__image{:for => 'message_image'}
//          %i.fa.fa-image
//          %input.input-box__image__file{:type => 'file', :name => 'message[image]'}
//      %input.submit-btn{type: "Submit", name: 'commit', value: "Send", datadisablewith: 'Send'}